.container {
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cont {
    margin-top: -80px;
}

.centa {
    margin-left: 200px;
    margin-top: 20px;
}

.looks {
    margin-right: 45px;
    margin-Left: 45px;
}

.cent {
    margin-left: 183px;
}